[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
django-ckeditor-5 = "*"
django-weasyprint = "*"
django-xhtml2pdf = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-ckeditor = "*"
whitenoise = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
